{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'header.html' %}

<style>
    .upload img:hover {
        cursor: pointer;
    }

    .upload small a {
        text-decoration: underline;
    }

    pre {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }
</style>

<main class="p-5" style="height:200vh">

    <h1 class="text-center">{{ board.extension }} - {{ board.description }}</h1>
    <hr>
    <h4 class="text-center">[<a href="">Start a New Thread</a>]</h4>
    {% include 'announcements.html' %}
    <hr>

    <script>
        downscale = "25%";

        resize = function (img) {
            p = $(img);
            if (p.attr("width") != downscale) {
                p.attr("width", downscale);
            } else {
                p.attr("width", "100%");
            }
        }
    </script>

    {% for thread in threads %}
    <!-- Thread -->
    <div>
        
        <!-- OP -->
        <div class="rounded p-3 w-50" id="{{ thread.id }}">
            <!-- <div class="upload d-inline">
                <small class="d-block">File: <a href="/static/uploads/the_musk.jpg">the_musk.jpg</a></small>
                <img width=25% src="{% static 'uploads/the_musk.jpg' %}" onclick="resize(this)">
            </div>   -->
            <div class="d-inline-block align-top ml-2 mt-2">
                <div class="d-block">
                    <h4 class="d-inline">{{ thread.title }}</h4>
                    <p class="d-inline text-info">{{ thread.author }}</p>
                    <p class="d-inline text-secondary">{{ thread.date }}</p>
                    <p class="d-inline text-secondary">No.<a href="#{{ thread.id }}">{{ thread.id }}</a> [<a href="">Reply</a>]</p>
                </div>
                <blockquote class="mx-5 my-1 d-block">
                    {{ thread.content }}
                </blockquote>
            </div>
            {% for reply in thread.replies %}
            <!-- Reply -->
            <div class="d-block">
                <p class="text-muted d-inline-block align-top pt-3">>></p>
                <div class="bg-light rounded p-3 ml-3 d-inline-block" id="{{ reply.id }}">
                    <p class="d-inline text-info">{{ reply.author }}</p>
                    <p class="d-inline text-secondary">{{ reply.date }}</p>
                    <p class="d-inline text-secondary">No.<a href="#{{ reply.id }}">{{ reply.id }}</a> [<a href="">Reply</a>]</p>
                    <blockquote class="mx-5 my-1">
                        {{ reply.content }}
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</main>

{% endblock %}