<div class="container mx-auto" style="width: 25%;">
    <hr>
    <div class="container">
        <!-- <h5 class="text-center">Announcements</h5> -->
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td class="d-inline">11/03/18</td>
                    <td class="d-inline">New board added - /wel/</td>
                </tr>
                <tr>
                    <td class="d-inline">11/02/18</td>
                    <td class="d-inline">Development started</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>