<header class="container-fluid p-2 bg-light position-sticky" style="top:0">
    <nav class="navbar p-0">
        <div>
            <!--<a class="navbar-brand" href="">
                    {% load static %}
                    <img class="m-0 p-0" src="{% static 'res/ncpchan2_transparent.png' %}" width=6% height=6%>
                </a>-->
            <a style="color: #5E0F25" href="{% url 'home' %}">NCPchan</a>
            [ <a href="{% url 'b-wel' %}">wel</a> /
            <a href="g/">g</a> ]
            [ <a href="sci/">sci</a> /
            <a href="math/">math</a> /
            <a href="cs/">cs</a> /
            <a href="eng/">eng</a> /
            <a href="fl/">fl</a> ]
            [ <a href="sp/">sp</a> /
            <a href="v/">v</a> /
            <a href="a/">a</a> ]
        </div>
    </nav>
</header>